/* Add this to your App.css file */

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-box {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.login-key {
  font-size: 2rem;
  color: #3498db;
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.login-form {
  margin-top: 20px;
}

.form-group {
  margin-bottom: 20px;
}

.form-control-label {
  font-size: 0.9rem;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.loginbttm {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.login-btm {
  flex: 1;
}

.login-text {
  color: #777;
}

.login-button {
  text-align: right;
}

.btn-outline-primary {
  border-color: #3498db;
  color: #3498db;
}

.btn-outline-primary:hover {
  background-color: #3498db;
  color: #fff;
}
